[user]
	name = Alex Delifer
	email = alex.delifer@zimmerbiomet.com
[color]
	diff = auto
	status = auto
    branch = auto
    ui = auto

[credential "https://gitlab.zimmercas.com"]
	username = delifera
