/aconfmgr/.config/aconfmgr/02-config.sh
/doom/.emacs.d/
/doom/.emacs.d/*
/zsh/.zgen/*
/zsh/.zplug/*
/tmux/.tmux/plugins/*
!/tmux/.tmux/plugins/tpm
!/tmux/.tmux/plugins/tpm/*
/nvim/.config/nvim/plugged/*
/nvim/.vim/plugged/*
/nvim/.vim/.netrwhist
/nvim/.vim/undo/*
/nvim/.vim/autoload/plug.vim.old
/nvim/.config/nvim/plugged/*
/nvim/.config/nvim/.netrwhist
/nvim/.config/nvim/undo/*
/nvim/.config/nvim/autoload/plug.vim.old
*.swp
*.tar.xz
*.pkg.tar.xz
*.tar.gz
*.log
