/home/zsh/.zgen/*
/home/zsh/.zplug/*
/home/tmux/.tmux/plugins/*
!/home/tmux/.tmux/plugins/tpm
!/home/tmux/.tmux/plugins/tpm/*
/home/vim/.vim/plugged/*
/home/vim/.vim/.netrwhist
/home/vim/.vim/undo/*
/home/vim/.vim/autoload/plug.vim.old
/home/vim/.config/nvim/plugged/*
/home/vim/.config/nvim/.netrwhist
/home/vim/.config/nvim/undo/*
/home/vim/.config/nvim/autoload/plug.vim.old
*.swp
*.tar.xz
*.pkg.tar.xz
*.tar.gz
*.log
