[submodule "nvim/.config/nvim/autoload"]
	path = nvim/.config/nvim/autoload
	url = https://github.com/junegunn/vim-plug
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "spacemacs/.spacemacs.d/layers/exwm"]
	path = spacemacs/.spacemacs.d/layers/exwm
	url = https://github.com/timor/spacemacsOS
