[Unit]
Description=Configure ZimmerCAS DNS on ZeroTier
After=zerotier-one.service

[Service]
Type=oneshot
#RemainAfterExit=yes
ExecStart=/usr/local/bin/set-zcasdns

[Install]
WantedBy=multi-user.target
